/* Add your custom CSS styles here to match your design */
body {
    font-family: Arial, sans-serif;
    margin: 20px 150px 20px 150px;
    background: #363636;
}

h1 {
    text-align: center;
    color: #fff;
}

p {
    color: #fff;
    padding-bottom: 10px;
}

#car-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#car-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.car-specs {
    text-align: left;
    margin: 20px 0;
}

.car-specs p {
    margin: 5px 0;
}

#map {
    height: 700px !important; /* Adjust brightness as needed (1.0 is the default) */
    border-radius: 10px;

}

#find-area-near-me {
    margin-bottom: 20px;
}