body {
  font-family: Arial, sans-serif;
  margin: 20px 150px 20px 150px;
  background: var(--background-color);
  color: var(--text-color);
}

:root {
  --text-color: #f5f4f4;
  --background-color: #232222;
  --seethrough-color: #232222dd;
  --light-black: #2d2c2c;
  --lighter-black: #3d3c3c;
  --accent-color: #18a0fb;
  --gray: #969696;
  --orange: #d4741c;
  --green: #9ef890;
}

h1 {
  text-align: center;
  color: var(--text-color);
}

p {
  color: var(--text-color);
  padding-bottom: 10px;
}

.flex {
  display: flex;
}

.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.type-header {
  font-weight: bold;
  color: var(--accent-color);
  padding-left: 20px;
}

.card {
  width: calc(33.33% - 40px); /* 33.33% to display three items in a row with spacing */
  margin-bottom: 20px;
  padding: 20px;
  max-width: calc(33.33% - 40px);
}
/* fix1 = add these two in js with if-sentece */
/* .max-width {
  max-width: 380px;
}
.img-height {
  height: 120px;
} */
.car-image {
  max-width: 100%;
  border-radius: 10px 10px 0px 0px;
  height: auto;
  overflow: hidden;
  aspect-ratio: 3;
  object-fit: cover;
}

.model-name {
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 10px;
  padding-left: 10px;
}

/* Styling for the car specifications */
.car-specs {
  max-width: 100%;
  height: auto;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  background-color: var(--light-black);
  display: flex;
}

.car-carousel.slick-initialized.slick-slider button.slick-prev {
  /* left: 25px; */ /* Position the button to the left edge of the container */
  top: 50%; /* Position the button vertically centered */
  transform: translateY(-50%); /* Vertically center the button */
  z-index: 1; /* Ensure the button is in front */
}

.car-carousel.slick-initialized.slick-slider button.slick-next {
  /* right: 35px; */ /* Position the button to the left edge of the container */
  top: 50%; /* Position the button vertically centered */
  transform: translateY(-50%); /* Vertically center the button */
  z-index: 1; /* Ensure the button is in front */
}

.slick-prev:before {
  color: var(--text-color);
  font-size: 30px;
}

.slick-next:before {
  color: var(--text-color);
  font-size: 30px;
}

/* Styling for individual specification items */
.spec {
  width: 33%; /* Adjust the width as needed to fit your layout */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for specification labels */
.spec-label {
  padding: 5px;
  font-size: 0.7vw; /* Adjust the font size based on viewport width */
}

/* Styling for specification values */
.spec-value {
  font-weight: bold;
  padding: 5px;
  font-size: 0.7vw; /* Adjust the font size based on viewport width */
}

/* CSS for mobile-friendly layout */
@media (max-width: 768px) {
  .car-carousel.slick-initialized.slick-slider {
    width: 100%; /* Make the carousel full width on smaller screens */
  }

  body {
    margin: 10px;
  }

  .spec-label {
    padding: 5px;
    font-size: 14px;
  }

  /* Styling for specification values */
  .spec-value {
    font-weight: bold;
    padding: 5px;
    font-size: 14px;
  }
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.modal-content {
  background-color: var(--background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;/* Fixed width */
  height: 30vw; /* Fixed height */
  padding: 40px; /* Increase the padding to make it taller */
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  justify-content: space-between;
  overflow-y: auto;
}

/* Style for individual boxes */
.modal-content .box {
  width: 35%; /* Adjust the width to your preference */
  padding: 10px;
  margin: 10px;
  display: inline-block; /* Display boxes horizontally */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--lighter-black);
  border-radius: 10px;
  text-align: center;
}

/* Style for individual boxes */
.modal-content .box-content {
  padding: 20px;

}

/* Style for individual boxes */
.modal-content h3 {
  margin: 0px;
}

/* Style for individual boxes */
.modal-content p {
  line-height: 30px;
  font-size: 22px;
}

/* Style for buttons */
.modal-content button {
  background-color: #0074D9;
  color: #fff;
  border: none;
  padding: 25px 50px;
  font-size: 26px;
  cursor: pointer;
  border-radius: 10px;
}

/* Style for close button */
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 7px;
  padding-right: 15px;
  cursor: pointer;
  font-size: 34px;
  color: var(--accent-color);
}

/* Add these styles for the individual rectangles */
.status-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px; /* Align to the bottom of the modal */
  width: 100%; /* Full width of the modal */
  margin: 0;
  padding: 10px; /* Add padding to separate it from the content */
}

.step {
  width: 150px;
  height: 14px;
  border: 1px solid var(--gray);
  background-color: transparent;
  display: inline-block;
}

.step-box {
  margin-right: 25px;
  display: flex;
}

.active {
  background-color: #0074D9; /* Change this color as needed */
}

.colored {
  background-color: #0074D9; /* Change this color as needed */
}

/* Style for the "Previous" button */
#previousButton1,
#previousButton2,
#previousButton3,
#previousButton4 {
  width: 100px; /* Fixed width */
  height: 30px; /* Fixed height */
  background-color: transparent; /* Transparent background */
  border: 2px solid #0074D9; /* Blue border */
  color: #0074D9; /* Blue text color */
  padding: 0; /* Remove padding to set a fixed size */
  margin-right: 5px; /* Add some spacing */
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px; /* Adjust text size */
}

/* Style for the "Next" button */
#nextButton1,
#nextButton2,
#nextButton3,
#nextButton4,
#submitButton {
  width: 100px; /* Fixed width */
  height: 30px; /* Fixed height */
  background-color: #0074D9; /* Blue background */
  color: #fff; /* White text color */
  padding: 0; /* Remove padding to set a fixed size */
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px; /* Adjust text size */
}

/* Style for the "Next" button */
#submitButton {
  width: 100px; /* Fixed width */
  height: 30px; /* Fixed height */
  background-color: #0074D9; /* Blue background */
  color: #fff; /* White text color */
  padding: 0; /* Remove padding to set a fixed size */
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px; /* Adjust text size */
}

.image-options {
  height: 200px;
}

.image-row {
  margin: 20px;
  justify-content: space-around;
}

.image-row img{
  margin: 10px;
  max-width: 6vw;
}

.grayed {
  margin: 10px;
  opacity: 50%;
  transition: filter 0.5s;
  cursor: pointer;
  max-width: 6vw;
}

.grayed.active,
.grayed:hover {
  opacity: 1;
}

.hidden-checkbox {
  display: none;
}

/* Hide the default checkbox */
input[type="checkbox"] {
  display: none;
}

/* Style the custom checkbox */
.custom-checkbox {
  margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Makes it round */
    display: inline-block;
    cursor: pointer;
    background-color: var(--lighter-black);
}

/* Style the custom checkbox when it's checked */
input[type="checkbox"]:checked + .custom-checkbox {
    background-color: var(--accent-color); /* Grey background when checked */
}

.propellant-container {
  text-align: left !important;
}

.propellant-container label{
  width: 15%;
  display: inline-flex;
  align-items: center;
}

.range-container #range-input, 
.consumption-container #consumption-input,
.budget-container #budget-input {
  background-color: var(--accent-color);
}

.budget-container label input,
.consumption-container label input,
.range-container label input{
  display: inline-flex;
  vertical-align: middle;
}

.consumption-container,
.range-container,
.budget-container {
  text-align: left;
}

#range-value,
#consumption-range-value,
#budget-range-value {
  display: none;
}

#range-input,
#consumption-input,
#budget-input {
  background-color: var(--lighter-black);
  border: none;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  letter-spacing: 1px;
}

#range-input::first-letter,
#consumption-input::first-letter,
#budget-input::first-letter {
  margin-right: 20px; /* Adjust the value as needed for more space */
}

/* CSS for mobile-friendly layout */
@media (max-width: 1024px) {
  .car-carousel.slick-initialized.slick-slider {
    width: 100%; /* Make the carousel full width on smaller screens */
  }

  body {
    margin: 20px;
  }

  .spec-label {
    padding: 5px;
    font-size: 14px;
  }

  /* Styling for specification values */
  .spec-value {
    font-weight: bold;
    padding: 5px;
    font-size: 14px;
  }
  .car-carousel.slick-initialized.slick-slider button.slick-prev {
    left: 25px; /* Position the button to the left edge of the container */
  }

  .car-carousel.slick-initialized.slick-slider button.slick-next {
    right: 35px; /* Position the button to the left edge of the container */
  }
}
